name: Develop CI Build

on:
  workflow_dispatch:
  pull_request:
    branches: [ develop ]
  push:
    branches: [ develop ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout Meadow.Logging
      uses: actions/checkout@v3
      with:
        repository: WildernessLabs/Meadow.Logging
        path: Meadow.Logging
        ref: develop
      
    - name: Checkout Meadow.Units
      uses: actions/checkout@v3
      with:
        repository: WildernessLabs/Meadow.Units
        path: Meadow.Units
        ref: develop

    - name: Checkout Meadow.Contracts
      uses: actions/checkout@v3
      with:
        repository: WildernessLabs/Meadow.Contracts
        path: Meadow.Contracts
        ref: develop
    
    - name: Checkout Meadow.Core
      uses: actions/checkout@v3
      with:
        repository: WildernessLabs/Meadow.Core
        path: Meadow.Core
        ref: develop
        
    - name: Checkout MQTTnet
      uses: actions/checkout@v3
      with:
        repository: WildernessLabs/MQTTnet
        path: MQTTnet
        ref: develop
        
    - name: Checkout Meadow.Modbus
      uses: actions/checkout@v3
      with:
        repository: WildernessLabs/Meadow.Modbus
        path: Meadow.Modbus
        ref: develop
        
    - name: Checkout Meadow.Foundation
      uses: actions/checkout@v3
      with:
        repository: WildernessLabs/Meadow.Foundation
        path: Meadow.Foundation
        ref: develop
      
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Build YoshiPi
      run: dotnet build -c Debug Source/dotnet/YoshiPi.sln
    
